<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
        <ul class="button-group">
          <li><a href="#" class="button">Blog</a></li>
          <li><a href="#" class="button">About me</a></li>
          <li><a href="http://github.com/natchiketa" class="button">GitHub</a></li>
        </ul>
      </div>
      <h1><a href="/blog">Sal's Blog <small>is the name of me.</small><a/></h1>
      <hr/>
    </div>
  </div>

  <%= yield %>

  </body>
</html>
